name: Android CI Release

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug --build-cache

      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: 2.0-pr-android15
          name: 2.0-pr-android15
          files: app/build/outputs/apk/debug/*.apk
          overwrite: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
